extends layout

include _includes/sharedHTMLfunctions

block content
	.row.page-header
		.col-lg-12
			h1= name
	.row
		.col-xs-12
			.row
				.col-xs-12.col-sm-6
					p.rating
						+outputRating(rating)
					p by #{author}
						.panel.panel-primary
							.panel-heading
								h2.panel-title Timetable
							.panel-body
								each timeslot in timeslots
									p= timeslot
						.panel.panel-primary
							.panel-heading
								h2.panel-title Our Goals
							.panel-body
								each pin in contentPanel
									span.label.label-warning
										span.glyphicon.glyphicon-ok
										| &nbsp; #{pin.tagname}
									| &nbsp; #{pin.tagdescript} &nbsp;&nbsp;
									br
									br
				.col-xs-12.col.col-sm-6.location-map
					.panel.panel-primary
						.panel-heading
							h2.panel-title Location Map
						.panel-body
							img.img-responsive.img-rounded(src='http://maps.googleapis.com/maps/api/staticmap?center=#{coords[1]},#{coords[0]}&zoom=17&size=500x350&sensor=false&markers=#{coords[1]},#{coords[0]}&scale=2')
			.row
				.col-xs-12
					.panel.panel-primary.review-panel
						.panel-heading
							a.btn.btn-default.pull-right(href='/mission/#{_id}/review/new') Add Review
							h2.panel-title Review Panel
						.panel-body.review-container
							each review in reviews
								.row
									.review
										.well.well-sm.review-header
											span.rating
												+outputRating(review.rating)
											span.reviewAuthor= review.author
											small.reviewTimestamp= review.createdOn
										.col-xs-12
											p= review.text